<div class="mt-3 mt-md-0">
    <h3 class="font-primary mb-3">{{ aboutBlogText }}</h3>
    <img class="img-fluid rounded mb-2" src="{{ featureImage }}" alt="Feature Image" />
    <p class="font-secondary">{{ description }}</p>
    <h3 class="font-primary mb-3">{{ facebookPageText }}</h3>
    <div class="overflow-hidden">
        <div class="fb-page w-100" data-href="https://www.facebook.com/cowboycoding/" data-tabs="" data-width=""
            data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
            data-show-facepile="true">
        </div>
    </div>
</div>