<div class="card border-0 my-3">
    <div id="image-wrapper" class="card-img-top">
        <a routerLink="/post/{{ post.slug }}">
            <img src="{{ post.featured_image }}" alt="{{ post.title }}" />
        </a>
    </div>
    <div class="card-body">
        <div class="categories-list mb-3">
            <a *ngFor="let category of post.categories" routerLink="/archive/category/{{ category.slug }}">
                <small class="category-item d-inline-block rounded-pill px-2 py-1 m-1 text-nowrap">{{ category.name }}</small>
            </a>
        </div>
        <a routerLink="/post/{{ post.slug }}">
            <h5 id="post-title" class="card-title font-primary">{{ post.title }}</h5>
        </a>
        <p class="card-text font-secondary">{{ post.summary }}</p>
        <p class="card-text font-secondary">
            <small class="text-muted">
                <a routerLink="/archive/author/{{ post.author.slug }}">
                    <img class="author-avatar d-inline mr-2 rounded-circle" src="{{ post.author.profile_image }}" alt="{{ post.author | fullName }}"/>
                    {{ post.author | fullName }}
                </a>
                &nbsp;&middot;&nbsp;{{ post.published | date }}
            </small>
        </p>
    </div>
</div>