@import "src/configs/variables.scss";

#image-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 42.86%;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

