<app-loading-screen></app-loading-screen>
<div class="container px-0 py-md-4">
    <div class="px-4 py-4 px-md-5 py-md-5 bg-white shadow-lg">
        <div class="row mb-4">
            <div *ngIf="author" class="col-12 mt-md-3">
                <app-bio-box [author]="author"></app-bio-box>
            </div>
            <div class="col-12 mt-md-3 mb-3">
                <h2 class="font-primary">{{ title }}</h2>
            </div>
            <div class="col-md-8">
                <app-post-excerpt-preview *ngFor="let post of posts" [post]="post">
                </app-post-excerpt-preview>
                <app-pagination [currentPage]="currentPage" [lastPage]="lastPage" [baseUrl]="baseUrl"></app-pagination>
            </div>
            <div class="col-md-4">
                <app-side-bar></app-side-bar>
            </div>
        </div>
    </div>
</div>