@import url('https://fonts.googleapis.com/css?family=Fira+Sans:700|Merriweather&display=swap&subset=vietnamese');

$font-family-primary: "Fira Sans", sans-serif;
$font-family-secondary: "Merriweather", serif;

$color-accent: #F7CE3E;
$color-element-background: #1A2930;
$color-page-background: #E2C873;
$color-text-on-accent: #0A1612;