@import url("https://fonts.googleapis.com/css?family=Fira+Sans:700|Merriweather&display=swap&subset=vietnamese");

$font-family-primary: "Fira Sans", sans-serif;
$font-family-secondary: "Merriweather", serif;

$color-accent: #f7ce3e;
$color-element-background: #1a2930;
$color-page-background: #e2c873;
$color-text-on-accent: #0a1612;
$color-text-on-background: #f7ce3e;
$color-text-footer: white;
