@import "src/configs/variables.scss";

@keyframes lds-ball {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 108px);
    transform: translate(0, 108px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes lds-ball {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 108px);
    transform: translate(0, 108px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

#loading-screen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
  background-color: $color-element-background;
  opacity: 1;
  transition: opacity 0;

  #lds-ball {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100px, -100px);
    width: 200px !important;
    height: 200px !important;

    > div {
      position: absolute;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background: $color-accent;
      left: 74px;
      top: 20px;
      -webkit-animation: lds-ball 1s linear infinite;
      animation: lds-ball 1s linear infinite;
    }
  }

  &.hidden {
      pointer-events: none;
      opacity: 0;
      transition: opacity 200ms;
  }
}
