<app-loading-screen></app-loading-screen>
<div class="container px-0 py-md-4">
    <div class="px-4 py-4 px-md-5 py-md-5 bg-white shadow-lg">
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="font-primary">{{ tagsListPageTitle }}</h2>
            </div>
            <div class="col-md-8">
                <div class="row mb-3">
                    <div *ngFor="let tag of tags" class="col-12 col-md-6 col-xl-4">
                        <a routerLink="/archive/tag/{{ tag.slug }}">
                            <small class="tag-item text-nowrap">{{ tag.name }}</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <app-side-bar></app-side-bar>
            </div>
        </div>
    </div>
</div>